<section class="cart-items-container">
  <table class="cart-items-table">
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Imported</th>
      <th>Quantity</th>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.taxed_price %></td>
        <td><%= "Imported" if cart_item.item.is_imported? %></td>
        <td>
          <button type="button" class="decrease-qty-btn">-</button>
          <p class="qty-text"><%= cart_item.qty %></p>
          <button type="button" class="increase-qty-btn">+</button>
        </td>
        <td class="cart-item-id" hidden><%= cart_item.id %></td>
        <td class="item-id" hidden><%= cart_item.item.id %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="checkout-container">
  <button type="button" id="checkout-btn">Checkout</button>
</section>

<%= flash[:notice] %>
<%= javascript_pack_tag 'cart/main' %>
