<section class="main-container">
  <h2 class="form-heading">Login</h2>

  <div class="form-container">
    <%= form_with url: login_url, method: :post do |form| %>
      <%= form.email_field :email, required:true %>
      <%= form.password_field :password, required:true %>
      <p class="field-error-txt"><%= @error %></p>
      <%= form.submit "Login" %>
    <% end %>
  </div>

  <div class="bottom-link-container">
    <p class="bottom-link-txt">Not registered?</p>
    <%= link_to 'Signup here', signup_url %>
  </div>

  <div class="bottom-link-container">
    <%= link_to 'Forgot Password?', password_forgot_url %>
  </div>

</section>
