<section class="order-items-container">
  <table class="cart-items-table">
    <thead>
      <th>Name</th>
      <th>Imported</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Availability</th>
    </thead>
    <tbody>
      <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.item.name %></td>
        <td><%= "Imported" if order_item.item.is_imported? %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.qty %></td>
        <td><%= order_item.price * order_item.qty %></td>
        <td><%= (order_item.qty <= order_item.item.in_stock) ? "Available" : "Out of stock" %></td>
        <td class="cart-item-id" hidden><%= order_item.id %></td>
        <td class="item-id" hidden><%= order_item.item.id %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="purchase-container">
  <br>
  <button type="button" id="place-order-btn">Place Order</button>
</section>
