<section class="signup-container">
  <h2 class="form-heading">Sign Up</h2>

  <div class="form-container">
    <%= form_with model: @user, url: signup_url, method: :post do |form| %>
      <%= form.text_field :first_name %>
      <p class="field-error-txt"><%= @user.errors.full_messages_for(:first_name)[0] %></p>
      <%= form.text_field :last_name %>
      <p class="field-error-txt"><%= @user.errors.full_messages_for(:last_name)[0] %></p>
      <%= form.email_field :email %>
      <p class="field-error-txt"><%= @user.errors.full_messages_for(:email)[0] %></p>
      <%= form.password_field :password %>
      <p class="field-error-txt"><%= @user.errors.full_messages_for(:password)[0] %></p>
      <%= form.password_field :password_confirmation %>
      <p class="field-error-txt"><%= @user.errors.full_messages_for(:password_confirmation)[0] %></p>
      <%= form.submit "Signup" %>
    <% end %>
  </div>

  <div class="already-registered">
    <p class="already-registered-txt">Already registered?</p>
    <%= link_to 'Login here', login_url %>
  </div>
</section>
