<section>
  <p class="add-item-txt">
    Add new Item
  </p>
  <%= form_with model: @item, url: admin_items_url do |form| %>
    <%= form.text_field :name, class:'form-field', placeholder: 'Item Name' %>
    <p class="field-error-txt"><%= @item.errors.full_messages_for(:name)[0] %></p>
    <%= form.number_field :price, min: 0.1, step:0.01, class:'form-field', placeholder: 'Price' %>
    <p class="field-error-txt"><%= @item.errors.full_messages_for(:price)[0] %></p>
    <%= form.number_field :in_stock, min: 0, step:1, class:'form-field', placeholder: 'Quantity' %>
    <p class="field-error-txt"><%= @item.errors.full_messages_for(:in_stock)[0] %></p>
    <p class="is-imported">
      <span><%= form.check_box :is_imported %></span> Imported
    </p>
    <div class="form-select">
      <p class="select-label">Category:</p>
      <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
    </div>
    <p class="field-error-txt"><%= @item.errors.full_messages_for(:category_id)[0] %></p>
    <div class="form-select">
      <p class="select-label">Applied Taxes:</p>
      <%= form.select :tax_ids, Tax.order(:name).collect {|tax| [tax.name, tax.id]}, {}, multiple: true %>
    </div>
    <%= form.submit class: 'submit-btn' %>
  <% end %>
</section>
